scrapy==2.15.0
gspread==6.2.1
google-auth==2.49.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.127.0
requests==2.33.1
python-dotenv==1.2.2
lxml==6.1.0
cssselect==1.2.0
schedule==1.2.2
python-dateutil==2.9.0
